@import "tailwindcss";

:root {
  --primary: #eeaa2b;
  --background-light: #f8f7f6;
  --background-dark: #221c10;
  --text-dark: #1b160d;
  --text-light: #f8f7f6;
}

@layer base {
  body {
    font-family: 'Noto Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  .font-display {
    font-family: 'Noto Serif', serif;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}
