@import "tailwindcss";

@theme {
  --color-primary: #eeaa2b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221c10;
  
  --font-display: "Noto Serif", serif;
  --font-sans: "Noto Sans", sans-serif;
  
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  .font-display {
    @apply font-display;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}
